@import "../../pages/Index/index.scss";

.lesson-type-display-icon {
  width: 250px;
  height: 250px;
  top: 24px;
  background: $assignments-light-purple;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15%;
  border-color: white;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Roboto;
}

.flex-container .edit-button-confirm-page {
  display: flex;
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
  height: 2.5vw;
  width: 6vw;
  margin-top:40vh;
  margin-left:2vw;
  display: inline-block;
}

.flex-container .confirm-button-confirm-page {
  display: flex;
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
  height: 2.5vw;
  margin-top: 40vh;
  margin-left: 56vw;
  width: 6vw;
  display: inline-block;
}

.flex-container .word-display-bar {
  display: flex;
  background-color: $confirmation-light-grey-background-color;
  display: inline-block;
  text-align: center;
  padding: 3vw;
  flex-grow: 1;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.flex-container .cards-display-section {
  display: flex;
  background-color: $confirmation-light-light-grey-background-color;
  flex-wrap: wrap;
  flex-grow: 4;
  height: 100vh;
}

.flex-container .flex-column {
  display: flex;
  flex-direction: column;
}

.flex-container .lesson-name-display-header {
  display: flex;
  background-color: #6A6868;
  width: 100%;
  height: 4.5vw;
  color: white;
  align-items: center;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  font-family: $assignments-roboto-font;
}

