@import "../../pages/Index/index.scss";

.invalid-assignment {
  background-color: $assignments-light-purple;
  width: 80vw;
  padding-bottom: 1vw;
  position: fixed;
  top: 2vw;
  z-index: 1;
  left: 50%;
  border-radius: 2vw;
  transform: translateX(-50%);
}

.message-area {
  padding-top: 1vw;
  margin: auto;
}

.message {
  width: 50vw;
  height: 4vw;
  font-family: $assignments-roboto-font;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  display: inline-block;
  font-weight: bold;
}

.close-message {
  color: $close-button-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  font-size: 2vw;
  width: 6vw;
  border-radius: 8px;
  transition-duration: 0.3s;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  &:hover {
    background-color: $close-button-color;
    color: white;
  }
  
}
