@import "../../pages/Index/index.scss";

.InvalidAssignment {
  background-color: #b1b0ff;
  width: 100vw;
  height: 7vw;
  border-radius: 1em;
  border: 2px solid black;
  position: fixed;
  top: 0;
  z-index: 1;
  margin: auto;
}

.Message {
  padding-top: 1vw;
  width: 90vw;
  height: 4vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.CloseMessage {
  color: $close-button-color;
  background-color: $assignments-background-color;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  width: 5vw;
  border-radius: 8px;
  transition-duration: 0.3s;
  font-weight: bold;
  margin: auto;
}

.CloseMessage:hover {
  background-color: $close-button-color;
  color: white;
}
