@import "../../pages/Index/index.scss";

.phonic-selector {
  min-height: 50vh;
  background-color: $assignments-app-background-color;
  overflow: auto;

  .phonic-groups-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .phonic-icon-margin {
    margin: 2vw;
  }
}
