
.PhonicBackground {
    min-height: 50vh;
    width: 100vw;
    background-color: #f5f5f5;
    overflow: auto;
  }
.phonic-groups-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
