@import "../../pages/Index/index.scss";

.name-icon {
  width: 17vw;
  height: 8vw;
  background-color: white;
  border: 4px solid $assignments-light-purple;
  border-radius: 1em;
  box-shadow: "5px 10px #888888";
  margin: auto;
  margin-top: 1vw;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.name-lesson-display {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.2em;
  color: #4d4d4c;
  margin:1vw;
  width: 16vw;
  overflow: hidden;
}
