@import "../../pages/Index/index.scss";

.words-list {
    justify-content: center;
    overflow: hidden;
}
.phonics-words {
    font-size: 1.2em;
    font-weight: bold;
    font-family: $assignments-roboto-font;
    text-transform: uppercase;
}
.PhonicGroupTitle {
    font-family: $assignments-roboto-font;
    font-weight: bold;
    font-size: 2.5em;
    color: #b1b0ff;
    padding-bottom: 0;
    text-transform: uppercase;
  }