$assignments-background-color: #fafafa;
$assignments-app-background-color: #f5f5f5;
$assignments-font-color: #4d4c4c;
$assignments-darker-color: #e7e4e4;
$assignments-lighter-gray: #C4C4C4;
$close-button-color: #ffc700;
$assignments-light-purple: #b1b0ff;
$assignments-light-green: #B7E3D9;
$assignments-roboto-font: "Roboto", sans-serif;
$confirmation-light-grey-background-color: #DADADA;
$confirmation-extra-light-grey-background-color: #EEEEEE;
$assignments-box-shadow: "5px 10px #888888";