$assignments-background-color: #fafafa;
$assignments-font-color: #4d4c4c;
$assignments-darker-color: #e7e4e4;
$close-button-color: #ffc700;
$assignments-light-purple: #b1b0ff;
$assignments-light-green: #B7E3D9;
$assignments-roboto-font: "Roboto", sans-serif;
