@import "../../pages/Index/index.scss";

.background {
  min-height: 52vw;
  background-color: #f5f5f5;
  margin: auto;
}

.word-groups-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

