@import "../../pages/Index/index.scss";

.Background {
  height: 120vh;
  max-width: 150vh;
  background-image: url("wordgroupbg.svg");
  background-position: 10%;
  background-size: 130vh, 100vh;
  background-color: #f5f5f5;
  overflow: auto;
  margin: auto;
}

.WordGroups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.SelectWords {
  margin-top: 15%;
}
