@import "../../pages/Index/index.scss";

.Background {
  height: 160vh;
  max-width: 150vh;
  background-image: url("squiggly.svg");
  background-color: #f5f5f5;
  overflow: auto;
  margin: auto;
}

.WordGroups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.SelectWords {
  margin-top: 35%;
}
