@import "../../pages/Index/index.scss";

.create_assignment {
  overflow: auto;
}

.assignment_creation {
  position: absolute;
}
.place_middle{
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
  position: relative;
}
.assign {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  border-radius: 1em;
  margin-left: 10em;
  position: "absolute";
}

.header {
  color: $assignments-font-color;
  font-family: $assignments-roboto-font;
  font-weight: bold; 
  font-size: 400%;
}

.name-assignment {
  margin: auto;
  width: 60vw;
}
.input {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  border-color: $assignments-font-color;
  border-radius: 1em;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.5em;
  width: 20vw;
}
.input-header {
  color: $assignments-background-color;
  background-color: $assignments-font-color;
  border-color: $assignments-font-color;
  border-radius: 1em;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.5em;
}
.spacing {
  padding: 3em;
}
.lesson-name {
  margin-bottom:5%;
}
.student-date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  height: 35vw;
  border-radius: 20px;
  margin: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
}