@import "../../pages/Index/index.scss";

.create_assignment {
  overflow: auto;
}

.assignment_creation {
  position: absolute;
}
.place_middle, .student-date-container {
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
  position: relative;
}
.student-date-container {
  min-height: 35vw;
  // width: 70vw;
  background-color: $assignments-lighter-gray;
}
.container {
  flex-direction: column-reverse;
}
.assign {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  border-radius: 1em;
  margin-left: 10em;
  position: "absolute";
}

.header {
  color: $assignments-font-color;
  font-family: $assignments-roboto-font;
  font-weight: bold; 
  font-size: 400%;
}

.name-assignment {
  margin: auto;
  width: 60vw;
}
.input {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  border-color: $assignments-font-color;
  border-radius: 1em;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  width: 20vw;
}
.input-header {
  color: $assignments-background-color;
  background-color: $assignments-font-color;
  border-color: $assignments-font-color;
  border-radius: 1em;
  font-family: $assignments-roboto-font;
  font-weight: bold;
}

.spacing {
  padding: 3em;
}
