@import "../../pages/Index/index.scss";

.DefaultCard {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 15vw;
  width: 10vw;
  border-radius: 20px;
  margin: 2vw;
  margin-left: auto;
  background-color: $assignments-background-color;
  color: $assignments-font-color;
  font-family: $assignments-roboto-font;
  font-size: 1.2em;
}
