@import "../../pages/Index/index.scss";
@import "../LessonInfoDisplay/LessonInfoDisplay.scss";

.DeleteLessonCard {
  margin-top: .5vw;
  margin-bottom: .5vw;
  margin-right: 0vw;
  margin-left: 3vw;
}

.date-delete-header {
  justify-content: center;
}
.date{
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 2vw;
  color: $assignments-font-color;
  margin-top: 2%;
}
.name {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.2em;
  color: $assignments-font-color;
  height: 1.5em;
  overflow: hidden;
}
