@import "../../pages/Index/index.scss";

.WordSelector {
  min-width: 35vw;
  background-color: white;
  padding: 2vw;
  border-radius: 1em;
  position: fixed;
  left: 32%;
  top: 10%;
  margin: auto;
  margin-top: 8em;
  border: 5px solid #e6e6e6;
  z-index: 1;
  overflow-x: hidden;
}

.GroupTitle {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 3vw;
  text-align: left;
  color: #b1b0ff;
  overflow: visible;
}

.GroupTitleUnderline {
  margin-top: 0%;
  border-top: 2px solid $assignments-font-color;
}

.WordDisplay {
  display: inline-flex;
  width: 35vw;
  max-height: 35vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.word-checkbox, .SelectCheckbox {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.3rem;
  color: $assignments-font-color;
  text-transform: capitalize;
  min-width: 11vw;
  margin-right: .5vw;
  overflow: visible;
}

.SelectCheckbox {
  align-items: flex-start;
}
input[type='checkbox'] {
  -webkit-appearance:none;
  width:2rem;
  height:2rem;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  margin-top: 0%;
}
input[type='checkbox']:checked {
  background: $assignments-light-purple;
}

.CloseSelection {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  width: 7vw;
  font-weight: bold;
  position: absolute;
  bottom: 0.5em;
  border-radius: 1em;
}
.padding {
  padding-top: 2em;
}

.NextButton {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  width: 8vw;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  right: 1.5vw;
  bottom: 0.5vw;
  border-radius: 1em;
}
.word {
  text-align: left;
  margin-left: 2vw;
}

.check, .ChooseAllCheck {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 10%;
}

.container {
  display: block;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer;
}

:disabled {
  background-color: #c9c7c7;
}
