@import "../../pages/Index/index.scss";

.phonic-icon , .purple-phonic-icon{
    width: 20vw;
    height: 20vw;
    background-color: white;
    border: 3px solid $assignments-light-purple;
    border-radius: 2vw;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
.purple-phonic-icon {
  background-color: $assignments-light-purple;
}
  
.phonic-name {
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: $assignments-font-color;
}

  