@import "../../pages/Index/index.scss";
.PhonicIcon {
    width: 20vw;
    height: 20vw;
    margin: 2em;
    padding: 20px;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0em .2em #e6e6e6;
    display: box;
  }
.PurplePhonicIcon {
  width: 20vw;
  height: 20vw;
  margin: 2em;
  padding: 20px;
  background-color: $assignments-light-purple;
  border-radius: 2em;
  box-shadow: 0em .2em #e6e6e6;
  display: box;
}
.PhonicIconBorder {
  border: 3px solid $assignments-light-purple;
  width: 17.5vw;
  height: 17.5vw;
  border-radius: 2em;
}
.PhonicGroupTitle {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 20pt;
  color: #b1b0ff;
  padding-bottom: 0;
}
.PhonicName {
padding-top: 28%;
font-family: 'Roboto', sans-serif;
font-size: 4em;
text-transform: uppercase;
text-align: center;
font-weight: bold;
color: $assignments-font-color;
}

.SelectButton {
  color: $assignments-font-color;
  background-color: $assignments-background-color;
  font-family: $assignments-roboto-font;
  width: 7vw;
  font-weight: bold;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  bottom: 0.5em;
  border-radius: 1em;
}
  