@import "../../pages/Index/index.scss";

.lesson-info {
  background-color: $assignments-darker-color;
  font-family: $assignments-roboto-font;
  width: 70%;
  height: 25vw;
  border: 1px solid #4d4d4c;
  border-radius: 2em;
  position: relative;
  margin: auto;
  margin-top: 8em;
  z-index: 1;
  overflow: hidden;
}

.info-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.column {
  float: left;
  height: 25vw;
  width: 18vw;
  background-color: black;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.word-group-display {
  height: 5vw;
  width: 16vw;
  background-color: $assignments-light-purple;
  color: #4D4C4C;
  border: 1px solid black;
  border-radius: 2em;
  margin: auto;
  margin-left: 1.5em;
  margin-top: 1em;
  overflow: hidden;
}

.lesson-group-name {
  margin-top: 5%;
  padding:auto;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: $assignments-font-color;
}

.word-display {
  height: 16vw;
  width: 15vw;
  background-color: white;
  border-radius: 1em;
  margin: auto;
  margin-top: 1em;
  display: block;
  overflow: hidden;
  margin-left: 2em;
}
.grey-box, .purple-box {
  height: 3vw;
  background-color: #C4C4C4;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: block;
  overflow: hidden;
}
.purple-box {
  background-color: $assignments-light-purple;
}
.words-list {
  height: 14vw;
  overflow: scroll;
}
.word-group-name {
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  font-style: $assignments-roboto-font;
  color: black;
}
.words {
  font-size: 1.5em;
  font-weight: bold;
  color: $assignments-font-color;
  text-transform: capitalize;
}
.student-date-card {
  height: 19vw;
  width: 14vw;
  border-radius: 1em;
  background-color: white;
  display:inline-block;
  margin-left:0em;
  margin-top: 1em;
  overflow: hidden;
}

.card-container {
  margin-left: 1em;
  max-height: 21vw;
  min-width: 25vw;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.student-container {
  max-height: 16vw;
  overflow: scroll;
}
.student-name {
  font-style: $assignments-roboto-font;
  color: $assignments-font-color;
  font-weight: bold;
  font-size: 1.5em;
  border-top: 1px solid $assignments-darker-color;
}
.date-label {
  font-size: 2em;
  color: $assignments-font-color;
  font-weight: bold;
}

.button-container {
  margin-right: .5vw;
  margin-top: .3vw;
  margin-left: 46vw
}
.fat-column  {
  width: 60vw
}

.margins {
  margin:auto;
}
