@import "../../pages/Index/index.scss";

.LessonInfo {
  background-color: $assignments-darker-color;
  font-family: $assignments-roboto-font;
  width: 70%;
  height: 25vw;
  border: 1px solid #4d4d4c;
  border-radius: 2em;
  position: relative;
  margin: auto;
  margin-top: 8em;
  z-index: 1;
  overflow: hidden;
}

.InfoDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.Column {
  float: left;
  height: 25vw;
  width: 18vw;
  background-color: black;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.WordGroupDisplay {
  height: 5vw;
  width: 16vw;
  background-color: $assignments-light-purple;
  color: #4D4C4C;
  border: 1px solid black;
  border-radius: 2em;
  margin: auto;
  margin-top: 1em;
  overflow: hidden;
}

.LessonGroupName {
  margin-top: 5%;
  padding:auto;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: $assignments-font-color;
}

.WordDisplay {
  height: 16vw;
  width: 15vw;
  background-color: white;
  border-radius: 1em;
  margin: auto;
  margin-top: 1em;
  display: block;
  overflow: hidden;
}
.GreyBox, .PurpleBox {
  height: 3vw;
  background-color: #C4C4C4;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: block;
  overflow: hidden;
}
.PurpleBox {
  background-color: $assignments-light-purple;
}
.WordsList {
  height: 14vw;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.WordGroupName {
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  font-style: $assignments-roboto-font;
  color: black;
}
.Word {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  color: $assignments-font-color;
}
.StudentDateCard {
  height: 19vw;
  width: 14vw;
  border-radius: 1em;
  background-color: white;
  display:inline-block;
  margin-left:0em;
  margin-top: 1em;
}

.CardContainer {
  margin-top: 5%;
  margin-left: -2%;
  max-height: 22vw;
  min-width: 47vw;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.StudentContainer {
  background-color: red;
  max-height: 14vw;
}
.DateLabel {
  font-size: 2em;
  color: $assignments-font-color;
  font-weight: bold;
}

.LessonDataTitle {
  width: 15vw;
  height: 3vw;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: lightgray;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.LessonData {
  width: 15vw;
  height: 12vw;
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 1.3em;
  overflow-y: auto;
  margin: auto;
  background-color: white;
  color: black;
}

.LessonButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc700;
  margin: auto;
  border-radius: 8px;
  width: 6vw;
  font-weight: bold;
  font-size: 1.4em;
  transition-duration: 0.3s;
}

.LessonButton:hover {
  background-color: #ffc700;
  color: white;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
