.DateIcon {
  width: 10vw;
  height: 10vw;
  margin: 2em;
  padding: 20px;
  background-color: #4d4c4c;
  border-radius: 5em;
  display: block;
}

.Date {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #7f7eff;
  text-align: center;
}
