@import "../../pages/Index/index.scss";

.DateIcon {
  width: 12vw;
  height: 12vw;
  margin: 2em;
  padding: 20px;
  background-color: $assignments-darker-color;
  border-radius: 5em;
  display: block;
}

.Month {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: #4d4d4c;
  text-align: center;
}

.Day {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #7f7eff;
  text-align: center;
}
