.Heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #4d4d4c;
  margin: auto;
}
.Button {
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  transition-duration: 0.3s;
  &:hover {
    background-color: #7f7eff;
    color: white;
  }
}
.DateDisplay {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
}
