@import "../../pages/Index/index.scss";

.heading {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 4vw;
  color: white;
  margin: auto;
  margin-left: 2%;
}
.card-display {
  font-family: $assignments-roboto-font;
  min-height: 30vw;
  flex-wrap: wrap;
  flex-direction: row;
  flex-start:start;
  background-color: $assignments-app-background-color;
}
.button-bar {
  background-color: $assignments-font-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-start:start;
}
#ddown, .button {
  height: 4.5vw;
  width: 11em;
  border-color: $assignments-font-color;
  border-radius: 2em;
  background-color: white;
  color: black;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.3em;
  transition-duration: 0.3s;
  margin-top: .4vw;
  margin-left: 1vw;
  &:hover {
    background-color: $assignments-light-purple;
    color: white;
  }
}
.button {
  background-color: $assignments-light-green;
  &:hover {
    background-color: white;
    color: black;
  }
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: .4vw;
}
.drop-down-bar {
  width: 16.5em;
  border-radius: 2em;
}
.drop-down {
  text-transform: lowercase;
  font-family: $assignments-roboto-font;
  font-size: 1em;
  &:hover {
    background-color: $assignments-app-background-color;
  }
  &:focus {
    background-color: $assignments-light-purple;
  }
}

.icon-margins {
  margin: .6vw;
}

.icon-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  flex-start:start;
  width: 100vw;
}
