@import "../../pages/Index/index.scss";

// .lesson-page {
//   // overflow-x: hidden;
//   width: 100vw;
//   height: 80vw;
//   overflow: scroll;

// }
.heading {
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 3em;
  color: white;
  margin: auto;
}
.cards-display {
  font-family: $assignments-roboto-font;
  max-height: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
}
.button-bar {
  background-color: $assignments-font-color;
}
#ddown, .button {
  height: 2em;
  width: 11em;
  border-color: $assignments-font-color;
  border-radius: 2em;
  margin-top: 3%;
  background-color: white;
  color: black;
  font-family: $assignments-roboto-font;
  font-weight: bold;
  font-size: 1.5em;
  transition-duration: 0.3s;
  &:hover {
    background-color: $assignments-light-purple;
    color: white;
  }
}
.button {
  background-color: $assignments-light-green;
  &:hover {
    background-color: white;
    color: black;
  }
}
.drop-down {
  text-transform: lowercase;
  font-family: $assignments-roboto-font;
}

.col-padding {
  padding: 0px !important;
  margin: 0px !important;
}
