@import "../../pages/Index/index.scss";

.WordGroupIcon, .PurpleWordGroupIcon {
  width: 15vw;
  height: 15vw;
  margin: 2em;
  padding: 20px;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0em 0.2em #e6e6e6;
  display: block;
}
.PurpleWordGroupIcon {
  background-color: $assignments-light-purple;
}

.image {
  width: 150px; 
  height: 130px;
}

.WordGroupName {
  font-family: $assignments-roboto-font;
  text-align: center;
  // color: $assignments-font-color;
  margin-top: 10%;
  color: violet;
}

