@import "../../pages/Index/index.scss";

.word-group-icon, .purple-word-group-icon {
  width: 15vw;
  min-height: 15vw;
  padding: 1vw;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0em 0.2em #e6e6e6;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.purple-word-group-icon {
  background-color: $assignments-light-purple;
}
img {
  max-width:100%;
  height:auto;
}

.word-icon-name {
  font-family: $assignments-roboto-font;
  text-align: center;
  margin-top: 2vw;
  font-size: 2vw;
  font-weight: bold;
}

