.WordGroupIcon {
  width: 12vw;
  height: 12vw;
  margin: 2em;
  padding: 20px;
  background-color: white;
  border-radius: 2em;
  box-shadow: 0em .2em #e6e6e6;
  display: block;
  //border: inset #4D4C4C .05em;
}

.WordGroupNumber {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align:bottom;
  color: #4D4C4C;
}

.WordGroupName {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: bottom;
  color: #4D4C4C;
}
